@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
  font-family: 'yusei magic', sans-serif;
}

.title {
  text-align: center;
  font-size: 30px;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.cv-block {
  width: 70%;
  border: 0.3px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(194, 189, 189, 0.1);
  padding: 10px;
}

.info-title {
  text-align: center;
  text-decoration: underline;
}

.submit-info-btn {
  text-align: center;
  margin-top: 10px;
}

#github-logo {
  margin-left: 15px;
  margin-bottom: 5px;
  opacity: 0.5;
}

.bold-font {
  font-weight: bolder;
}
